@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
}
/* hide scrollbar for table */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
#scrollbar-table::-webkit-scrollbar-track {
  margin-top: 40px;
}
#scrollbar::-webkit-scrollbar,#scrollbar-table::-webkit-scrollbar  {
  width: 3px;
}

#scrollbar::-webkit-scrollbar-thumb,#scrollbar-table::-webkit-scrollbar-thumb {
  background-color: #565b63;
}